/*-------- 4. Contact page ----------*/

#map {
    height: 500px;
    width: 100%;
}
.contact-title {
    color: #353535;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
    position: relative;
}
.contact-title::before {
    background-color: rgba(69, 105, 0, 1);
    bottom: -8px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 59px;
}
.contact-form-style > input {
    background-color: #f7f7f7;
    border: none;
    font-weight: 500;
    font-size: 13px;
    color: #7d7d7d;
    padding: 0 15px;
    height: 50px;
}
.contact-form-style > textarea {
    background-color: #f7f7f7;
    border: medium none;
    color: #7d7d7d;
    font-size: 13px;
    font-weight: 500;
    height: 190px;
    padding: 20px 15px;
}
.contact-form-style > input::-moz-placeholder,
.contact-form-style > textarea::-moz-placeholder {
    color: #7d7d7d;
    opacity: 1;
}
.contact-form-style > input::-webkit-placeholder,
.contact-form-style > textarea::-webkit-placeholder {
    color: #7d7d7d;
    opacity: 1;
}
.contact-form-style button {
    border: medium none;
    cursor: pointer;
    margin-top: 40px;
    padding: 14px 32px 12px;
}
.communication-info {
    background-color: #f7f7f7;
    margin-right: 80px;
    padding: 54px 35px;
}
.single-communication {
    display: flex;
    margin-bottom: 37px;
}
.single-communication:last-child {
    margin-bottom: 0px;
}
.communication-icon i {
    border: 1px solid #ea000d;
    border-radius: 50%;
    color: #ea000d;
    font-size: 24px;
    height: 66px;
    line-height: 66px;
    text-align: center;
    width: 66px;
}
.communication-icon i {
    border: 1px solid rgba(69, 105, 0, 1);
    border-radius: 50%;
    color: rgba(69, 105, 0, 1);
    display: inline-block;
    font-size: 18px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    width: 47px;
    transition: all .3s ease 0s;
}
.communication-icon {
    margin-right: 15px;
}
.communication-text > h4 {
    color: #353535;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    letter-spacing: .2px;
}
.communication-text > p {
    color: #666;
    margin: 0;
    font-size: 14px;
}
.communication-text > p a {
    color: #666;
}
.communication-text > p a:hover {
    color: rgba(69, 105, 0, 1);
}
.single-communication:hover .communication-icon i {
    background-color: rgba(69, 105, 0, 1);
    color: #fff;
}
.contact-message p{
    margin-top: 10px;
    margin-bottom: 0;
    color: #555;
}